.Layout {
    height: 100vh;    /* Как height: 100%, занятие полной ширины страницы */
    display: flex;
    flex-direction: column;
}

.Layout main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Чтобы main занимал всю высоту */
    
}